/* vald, active länk i nav */
main {
  display: inline-block;
  padding-bottom: 10%;
}
/* generella inställningar*/
* {
  margin: 0;
  box-sizing: border-box;
}
/* generella inställningar*/
body {
  padding: 0%;
  text-align: center;
  background-color: white;
  background: url(https://img.freepik.com/premium-vector/abstract-grey-turquoise-liquid-watercolor-background-with-golden-glitter_353323-491.jpg?w=1800);
}
footer {
  padding: 0 0 10px;
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #b8e7d7;
  position: fixed;
  bottom: 0;
  left: 0px;
}
/* meny/navigation = nav */
nav {
  display: flex;
}
nav ul li {
  line-height: 50px;
  list-style: none;
  float: left;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  padding: 0 5px;
  text-align: center;
}
/* hover över länkar */
nav ul li a:hover {
  color: blue;
  text-decoration: underline;
}
nav ul li a.act {
  background-color: #b8e7d7;
}
h1 {
  padding: 10px 0 10px;
}
h2 {
  padding: 5px 0 10px;
}

/* columner som är indelade i två stycken */
.column1,
.column2 {
  float: left;
  width: 50%;
  text-align: center;
  padding: 20px 60px 0px;
}
@media screen and (max-width: 600px) {
  .column1,
  .column2 {
    width: 50%;
  }
  .ol {
    width: auto;
  }
}
@media screen and (max-width: 400px) {
  .column1,
  .column2 {
    width: 100%;
  }
  .ol {
    width: 300px;
  }
}
/* quotes*/
q {
  font-family: "Tilt Neon", cursive;
}
/* bild med 300px storlek*/
.pic300 {
  width: 300px;
}
/*länk knappar */
.bt {
  list-style: none;
  font-size: medium;
  background: #b8e7d7;
  border-radius: 0px;
  border: solid black;
  text-decoration: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
a:visited {
  color: black;
}

/* Upplyser texten där musen är på hela sidan*/
.bt:hover,
p:hover,
h1:hover,
h2:hover {
  background-color: yellow;
}
.bt:hover {
  background-color: white;
}
@media screen and (max-width: 900px) {
  .pic300 {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .pic300 {
    width: 30%;
  }
}
